# Игнорировать node_modules во всех вложенных папках (включая корневую)
**/node_modules/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать файлы окружения
.env
.env.local
.env.development
.env.production

# Игнорировать папки сборки
dist/
build/
out/

# Игнорировать специфичные для IDE файлы
.vscode/
.idea/

# Игнорировать системные файлы
.DS_Store
Thumbs.db
